*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html,body{
    width: 100%;
    height: 100%;
    


}
#back{
  position: relative;
  width: 100%;
  height: 65%;
  

}
#nav{
    width: 100%;
    height: 10%;
    padding-top: 10px;
}
#nav #img{
    width: 100%;
    height: 100%;
    background-image: url("/img/signin.png");
    background-position: center;
    background-repeat: no-repeat;

}

 #container{
    align-items: center;
    position: absolute;
    padding: 30px 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 24%;
    height: 78%;
    background-color:#ffff;
    border: solid 0.01em;
    margin: 0.5em;
    border-color: rgb(211, 208, 208);
    

}
#container h3{
 font-size: 25px;
 margin-bottom: 25px;
 font-weight: 530;


}
#container label{
 font-size: 15px;
 font-weight: 550;



}
#container input[type=text]{
 width:97%;
 height: 25px;
 margin-top: 10px;
margin-bottom: 18px;


}
#container p{
    font-size: 11px;
    margin-bottom: 35px;
    
}
#bt-p p{
    font-size: 14px;
 margin-top: 25px;
 font-weight: 420;

}
#btn{
  width: 97%;
  height: 9%;
  margin:2px;
  

}
#btn button{
    font-size: 18px;
    width: 98%;
    height: 28px;
    border-radius: 3px;
    border:none;
    
    border-color: rgb(204, 203, 203);
    border-color: rgba(0, 0, 0, 0.767);
    background-color:rgb(241,197,87);
}
#btn button:hover{
    cursor: pointer;
    background-color: rgb(247, 193, 59);
}
#para{
    margin-top: 20px;
    margin-bottom: 18px;
}
#para>h5{
   font-weight: 450;

}
#para>h5 a{
    text-decoration: none;
}
#help a{
    margin-top: 25px;
    text-decoration: none;
}
#sign-in{
    position: relative;
    
    width: 55%;
    height: 15%;
}
#sign-in button{
    position: absolute;
    top: 2px;
    left: 90%;
    transform: translate(-50%,-50%);
    width: 35%;
    height:45px;
    font-size: 11px;
    color: black;
    font-weight: 500;
}


   #footer{
       width: 100%;
       height: 25%;
       text-align: center;


   }
   #footer #footer-link{
    font-size: 11px;
    text-decoration: none;

   }
   #footer #footer-link a{
       margin-left: 10px;
       text-decoration: none;
 color: rgba(108, 108, 240, 0.877);
   }
   #footer p{
       font-size: 9px;
       margin-top: 25px;
   }
   