*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html,body{
    width: 100%;
    height: 100%;

   


}
#back{

  width: 100%;
  height: 100%;
  

}
nav{
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
   width: 100%;
   height: 10%;
   background-color:  rgb(19,25,33);

}
#icns{
    font-size: 35px;
    color: #ffff;

}
nav #img{
    width: 145px;
    height: 45px;
    margin-left: 10PX;
    background-size: cover;
    background-position: center;
    
background-image: url("/img/Capture.JPG");
}
nav input[type=search]{
    width:480px;
    height: 45px;
    margin-left: 20PX;

}
#Search{
 display: flex;
 align-items: center;
 margin-left: 55px;
 background-color:rgb(243,243,243);
 border-bottom-left-radius: 5px;
 border-top-left-radius: 5px;

  
}
#Search h6{
    margin-left: 25px;
    padding-top: 9px;
    padding-left: 6px;
    width: 35px;
    height: 35px;
    color:rgb(32, 31, 31);
    opacity: .6;
    font-size: 15px;
   
}
#Search i{
    padding: 15px 15px;
    width: 50px;
    height: 45px;
    font-size:15px;
    background-color: rgba(255, 166, 0, 0.856);   

}

#cart-icn i{
     align-items: left;
}
#links{
    display: flex;
    align-items: center;
    margin-left: 65px;
}
#links .sign h4{
 margin-left: 30px;
 font-size: 20px;
 font-family: "Poppins";


}
#links a{
    text-decoration: none;
    margin-left:35px;
    color: #fff;
    font-size: 11px;
    font-family: "Poppins";


}
#cart-icn i{
     font-size: 35px;
     color: #fff;
     margin-left: 75px;




}
#nav2{
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  background-color: rgb(35,47,63);

}
#nav2 #icns2 i{
    padding-left: 10px;
    font-size: 22px;
    color: #fff;
    font-family: "Poppins";


}
#nav2  h4{
     font-size: 15px;
     font-weight: 500;
     font-family: "Montserrat";
     color: #fff;
}
#nav2  h4 span{
 font-size: 15px;
 font-weight:600;
 color: #fff;

}
#link-2{
    margin-left: 15px;
}
#link-2 a{
    
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    font-family: "montserrat";
    font-weight: 500;
    color:#fff

}
#products{
    display: flex;
    width: 100%;
    height: 100%;

}
#left{
    width: 25%;
    height: 100%;
    padding: 15px;
   
}
#left>h3{
    font-size: 30px;
}
#categeories>h4{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#right{
    display: flex;
    width:75%;
    height:100%;
   

}
#prd-box{
    width: 270px;
    height: 515px;
    margin-left: 15px;
    margin-top: 15px;

}
.prdimg{
    width: 100%;
    height: 80%;
    background-image: url(https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11056154/2019/12/5/30b0017d-7e72-4d40-9633-ef78d01719741575541717470-AHIKA-Women-Black--Green-Printed-Straight-Kurta-990157554171-1.jpg);
    background-size: cover;
    background-position: center;
}
.prd-price span{
    text-align: center;
    font-size: 17px;
    color: orangered;

}
.img{
    background-image: url(https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11056866/2019/12/9/67a0d919-cbca-4d89-a8f1-6a25c9e9305c1575891613300-Round-NeckWith--34th-Sleeve-Straight-Floral-print-Crepe-Kurt-1.jpg);
    background-position: center;
    background-size: cover;
}
.img1{
    background-image: url(https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/10808284/2019/10/30/c35d059d-a357-4863-bcb1-eacd8c988fb01572422803188-AHIKA-Women-Kurtas-8841572422802083-1.jpg);
    background-position: center;
    background-size: cover;
}
.img2{
    background-image: url(https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/9720497/2019/6/1/7d7dd721-6351-4c0a-abf9-014b93def3111559362134259-Libas-Women-Olive-Brown--Golden-Printed-Kurti-with-Dhoti-Pan-1.jpg);
    background-position: center;
    background-size: cover;
}
.img3{
    background-image: url(https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/10885078/2019/11/21/7bcebac3-e62a-4b04-b77d-6137daeef6a81574346823453-Indo-Era-Solid-Straight-Kurta-with-Palazzo-Dupatta-Set-30815-1.jpg);
    background-position: center;
    background-size: cover;
}
#Categeories{
    display: flex;
    flex-direction: column;
}
.input{
    margin-left: 10px;
    margin-bottom: 10px;
}


